
Mappings:
  MSFontsEnvMap:
    "055366652659":
      MSFontsEnvName: "sandbox"
      MSFontsS3Url: "s3://mdh-devops-archive-sandbox/tomcatlibs/msttcorefonts.zip"
    "100582527228":
      MSFontsEnvName: "prod"
      MSFontsS3Url: "s3://mdh-devops-archive-prod/tomcatlibs/msttcorefonts.zip"
    "938619397650":
      MSFontsEnvName: "nonprod"
      MSFontsS3Url: "s3://mdh-devops-archive-nonprod/tomcatlibs/msttcorefonts.zip"

container_commands:
  01_copy_fonts_from_s3:
    command: "/usr/local/bin/copy-msttcorefonts.sh"
  02_unzip_fonts:
    command: "unzip -u -q /tmp/msttcorefonts.zip -d /usr/share/fonts"
  03_chmod_fonts:
    command: "chmod -R 755 /usr/share/fonts/truetype"

files:
  "/usr/local/bin/copy-msttcorefonts.sh" :
    mode: "000755"
    encoding: "plain"
    content: |
      #! /bin/bash
      aws s3 cp '`{ "Fn::FindInMap" : [ "MSFontsEnvMap", { "Ref" : "AWS::AccountId" }, "MSFontsS3Url" ] }`' /tmp/

