container_commands:
    01-mkdir-env:
        command: "sudo mkdir -p /var/lib/tomcat/env"
    02-mkdir-prism_rules:
        command: "sudo mkdir -p /var/lib/tomcat/env/prism_rules"
    03-mkdir-prism_reports:
        command: "sudo mkdir -p /var/lib/tomcat/env/prism_reports"
    04-cp-prism_rules:
        command: "sudo cp -u -r ./.ebextensions/prism_rules /var/lib/tomcat/env"
    05-cp-prism_reports:
        command: "sudo cp -u -r ./.ebextensions/prism_reports /var/lib/tomcat/env"
    06-set-os-ownership-env:
        command: "sudo chown -R tomcat:tomcat /var/lib/tomcat/env"
    07-set-os-ownership-tomcat8:
        command: "sudo chown -R tomcat:tomcat /usr/share/tomcat"
    08-set-os-permissions-env:
        command: "sudo chmod -R ug+rw /var/lib/tomcat/env"
    09-set-os-permissions-tomcat8:
        command: "sudo chmod -R ug+rw /usr/share/tomcat"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PRISM_AGENCY
    value: MDH
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PRISM_DATA
    value: /var/lib/tomcat/env
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PRISM_LUCENE
    value: /var/lib/tomcat/env/prism_lucene
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PRISM_REPORTS
    value: /var/lib/tomcat/env/prism_reports
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PRISM_BUSINESS_RULES
    value: /var/lib/tomcat/env/prism_rules/BusinessRules
